<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello world</h1>
    <h3>This is my first Flask App</h3>
    <style>
        body{
            background-color: rgb(158, 209, 200);
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            height: 100px;
            width: 500px;
            margin: auto;
            padding-top: 200px;
            text-wrap-style: calc(100% - 200px);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    </style>
</body>
</html>